:root {
    --text-color: black;
    --text-white: white;
    --primary-color: rgb(238, 77, 45);
    --border-color: #dbdbdb;
    --start-color: #FEC33E;
}

* {
    box-sizing: inherit;
}


/* responsive */


/* responsfdsfdive */

.grid {
    width: 1320px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid.detail-wrap {
    min-height: 670px;
}

.cursor-pointer {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__column-5 {
    padding-left: 5px;
    padding-right: 5px;
    width: 41.6666%;
}

.grid__column-7 {
    padding-left: 5px;
    padding-right: 5px;
    width: 58.3333%;
}

.grid__column-12 {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.grid__column-9 {
    width: 75%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-3 {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-7 {
    margin-top: 7px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* select input */

.select-input {
    position: relative;
    min-width: 170px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--text-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    position: relative;
    top: 1px;
    /* margin: 0 16px 0 8px; */
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--text-white);
    padding-left: 0;
    list-style: none;
    padding: 8px 16px;
    display: none;
    z-index: 1;
}

.select-input__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--primary-color)
}


/* button style */


/* sort */

.select-input__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input__item i {
    display: none;
}

.select-input__item.sort_selected i {
    display: block;
}

.select-input__list i {
    color: var(--primary-color);
    margin-left: 2px;
}


/* button */

.btns {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--text-white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btns.btns-normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btns.btns-primary {
    color: var(--text-white);
    background-color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls_back {
    margin-right: 8px;
}

.auth-form__socials {
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    margin-top: 24px;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}

.btns--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 26px;
}

.btns__size--lg {
    width: 190px;
    height: 45px;
}

.btns-delete-product {
    border: 1px solid rgb(255, 66, 78);
    background-color: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    height: 50px;
    padding: 0 35px;
}

.btns-nocart {
    background-color: var(--primary-color);
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 5px;
    display: inline-block;
}

.btns-no-delete-product {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
    height: 50px;
    padding: 0 35px;
}


/* pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item {
    list-style: none;
    display: flex;
    margin: 0 12px;
}

.pagination-item__link {
    --line-heght: 30px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #939393;
    min-width: 40px;
    height: var(--line-heght);
    display: block;
    text-align: center;
    line-height: var(--line-heght);
    cursor: pointer;
}

.pagination-item__icon {}

.pagination-item--active {
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link {
    color: #fff;
}

.pagination-item--active:hover .pagination-item__link {
    background-color: #ed5c3f;
}

.home-product__pagination {
    margin: 48px 0 32px;
}