header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding: 0;
    margin-top: 4px;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--text-white);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    z-index: 1;
    color: #000;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--text-white) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}

.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 100px;
    height: 20px;
    /* background-color: red; */
}

.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 4px;
    display: block;
    padding: 8px 14px;
}

.header__navbar-user-item:first-child {
    border-radius: 2px 2px 0 0;
}

.header__navbar-user-item:last-child {
    border-radius: 0 0 2px 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-item-separate {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-name {
    margin-left: 3px;
    font-size: 1.4rem;
}

.header__navbar-item--has-qr:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--text-white);
    text-decoration: none !important;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7)
}

.header__navbar-item--strong {}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background: #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--text-white);
    text-decoration: none !important;
}

.header__navbar-icon-link {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 7px;
}

.header__navbar-item--pointer {
    color: rgba(255, 255, 255);
    cursor: text;
}


/* header qr code */

.header__qr {
    background: var(--text-white);
    position: absolute;
    left: 0;
    top: 118%;
    width: 186px;
    border-radius: 6px;
    display: none;
    animation: fadeIn ease 1s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 18px;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:last-child {
    margin-right: 11px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}


/* notification */

.header__notify {
    border: 1px solid rgb(209, 205, 205);
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    transform-origin: calc(100% - 32px) top;
    background-color: var(--text-white);
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
    z-index: 1;
    border-radius: 2px;
}

.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--text-white) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 1px;
    top: -16px;
    width: 100px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notyfi-header {
    user-select: none;
    cursor: default;
    height: 40px;
    background: var(--text-white);
}

.header__notyfi-header h3 {
    color: #999;
    margin: 0;
    margin-left: 12px;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notyfi-list {
    padding-left: 0;
}

.header__notify-item:hover {
    background: #f7f7f7;
}

.header__notify-item--viewed {
    background: rgb(238, 77, 45, 0.1);
}

.header__notyfi-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notyfi-img {
    width: 48px;
}

.header__notyfi-info {
    margin-left: 12px;
}

.header__notyfi-name {
    display: block;
    font-size: 1.5rem;
    color: black;
    line-height: 1.8rem;
    margin-bottom: 2px;
    max-height: 1.7rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    ;
}

.header__notyfi-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    max-height: 1.7rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__notify-footer {
    display: flex;
}

.header__notify--footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 50px;
    font-size: 1.4rem;
    margin: 0 auto;
}


/* modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 4;
}

@keyframes growModal {
    from {
        transform: scale(var(--growStart));
    }
    to {
        transform: scale(var(--growEnd));
    }
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3000x;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.modal__body {
    --growStart: 0.6;
    --growEnd: 1;
    margin: auto;
    z-index: 16;
    position: relative;
    border-radius: 5px;
    animation: growModal linear 0.2s;
}


/* authen modal */

.auth-form {
    width: 520px;
    background-color: var(--text-white);
    border-radius: 5px;
    z-index: 7;
}

.auth-form__container {
    padding: 30px 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px;
    margin-top: 16px;
}

.auth-form__heading {
    font-size: 2.2rem;
    color: var(--text-color)
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color)
}

.auth-form h2 {
    display: flex;
    justify-content: center;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 12px;
    padding: 0 2px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    font-size: 1.4rem;
    outline: none;
}

.auth-form__validation {
    color: red;
    font-size: 12px;
    margin-left: 12px;
    margin-top: 2px;
    display: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link {
    color: var(--primary-color)
}

.auth-form__controls {
    margin-top: 70px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-title {
    margin-right: 36px;
}

.auth-form__socials--facebook {
    color: var(--text-white);
    background-color: #3a5a98;
    ;
}

.auth-form__socials--google {
    color: #666 !important;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separated {
    border-right: 1px solid #999;
    height: 22px;
    margin: -3px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}


/* modal delete */

.modal__delete-product-title {
    padding-top: 30px;
    font-size: 2rem;
}

.modal__delete-product-control {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}


/* header with search */

.header-with--search {
    height: 79px;
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    background-color: var(--text-white);
    flex-grow: 1;
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid var(--border-color);
    padding-left: 12px;
    position: relative;
    cursor: pointer;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: #4A4A4A;
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    position: relative;
    top: 1px;
    margin: 0 16px 0 8px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    margin-right: 3px;
    border-radius: 3px;
    width: 60px;
    outline: none;
}

.header__search-btn:hover {
    background-color: rgb(238, 111, 6);
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--text-white);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 175%;
    width: 130px;
    margin-top: 0;
    box-shadow: 0 1px 1px #ccc;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    top: -20px;
    left: 0;
}

.header__search-option-item {
    background-color: #fff;
    padding: 8px 8px;
    list-style: none;
}

.header__search-option-item:first-child {
    border-radius: 3px 3px 0 0;
}

.header__search-option-item:last-child {
    border-radius: 0 0 3px 3px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 12px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 0 6px 0 10px;
    display: none;
    color: var(--primary-color);
}

.header__search-option--active i {
    display: inline-block;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}


/* search history */

.header__search-history {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    width: calc(100% - 16px);
    background-color: var(--text-white);
    border-radius: 3px;
    box-shadow: 0 1px 5px #999;
    display: block;
    z-index: 1;
}

.header__search-history-heading {
    font-size: 1.4rem;
    color: #999;
    margin: 8px 12px;
    font-weight: 300;
}

// .header__search-input:focus~.header__search-history {
//     display: block;
// }
.header__search-history-list {
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__search-history-item:last-child {
    border-radius: 0 0 3px 3px;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}


/* Product cart  */

.header__cart {
    width: 140px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--text-white);
    margin-top: 6px;
    /* position: relative; */
}

.header__cart-list {
    position: absolute;
    cursor: default;
    top: calc(100% + 6px);
    right: 47px;
    background-color: var(--text-white);
    width: 410px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadeIn ease 0.2s;
    z-index: 1;
}

.header__cart-no-cart-img {
    width: 46%;
    height: 100%;
    display: none;
}

.header__cart-list--no-cart {
    padding: 22px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin: 0 auto;
}

.header__cart-list--no-cart .header__cart-have-cart {
    display: none;
}

.header__cart-list-no-cart-msg {
    font-size: 1.4rem;
    display: none;
    margin-top: 12px;
    display: none;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 6px;
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: var(--text-white);
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    right: 40px;
    top: -2px;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: -30px;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--text-white) transparent;
    z-index: 100;
}


/* cart have product */

.header__cart-heading {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 0 8px 12px;
    text-align: left;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 42vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 40px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    padding-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    margin: 0 0 5px 0;
    text-align: left;
    padding-right: 20px;
    font-weight: 400;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-price-wrap {
    display: flex;
    align-items: flex-end;
}

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.4rem;
}

.header__cart-item-body {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-remove {
    font-size: 1.2rem;
    ;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-viewcart {
    float: right;
    margin: 4px 12px 12px 0;
}


/* app container */

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--text-white);
    border-radius: 3px;
}

.category__heading {
    font-size: 1.5rem;
    padding: 14px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0px 0 8px 0;
    margin-left: 9px;
}

.categorty-item {
    list-style: none;
    position: relative;
    line-height: 1.8rem;
    text-decoration: none;
}

.categorty-item:first-child::before {
    content: "";
    border: none;
}

.categorty-item::before {
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 8px;
    right: 16px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
    cursor: pointer;
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
}

.category-item__link {
    position: relative;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}


/* home sort filter */

.html-filter {
    display: flex;
    background-color: rgba(0, 0, 0, 0.04);
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 12px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 120px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: #555;
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    width: 72px;
    height: 36px;
    display: flex;
    justify-content: center;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--text-white);
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid var(--border-color);
}

.home__filter-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home__filter-icon {
    color: #ccc;
}


/* product item */

.product__list {
    min-height: 600px;
}

.loading-product {
    display: flex;
    position: relative;
    left: 50%;
    margin-top: 150px;
}

a.home-poduct-item {
    text-decoration: none;
}

.home-poduct-item {
    margin-top: 10px;
    display: block;
    cursor: pointer;
    background-color: var(--text-white);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.2s;
    will-change: transform;
    color: var(--text-color)
}

.home-poduct-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 2px 2px 0 0;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    margin-left: 10px;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    margin: 0 10px;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
    align-items: baseline;
}

div.home-product-item__like {
    font-size: 1.2rem;
}

i.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.7);
    transform-origin: right;
    color: #cfcece;
    margin-left: auto;
    /* margin-top: 2px; */
}

i.home-product-item__start--gold {
    color: var(--start-color);
}

span.home-product-item__sold {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 10px;
    padding-top: 2px;
}

.home-product-item__brand {}

.home-product-item__origin-name {}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--text-white);
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-right: 4px;
    border-radius: 0 3px 3px 0;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid green;
    border-left: 3px solid transparent;
    filter: brightness(0.6);
}

.home-product-item__favourite i {
    font-size: 0.9rem;
    color: var(--text-white);
    margin: 0 2px 0 5px;
}

.home-product-item__favourite span {
    color: var(--text-white);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgb(255, 217, 66, 0.9);
    border-radius: 0 2px 0 0;
    display: flex;
    flex-direction: column;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    border-width: 0 20px 6px;
    color: rgb(255, 217, 66, 0.9);
    border-color: transparent currentColor transparent currentColor;
    border-style: solid;
    left: 0;
    top: 36px;
}

.home-product-item__sale-off-percent {
    position: relative;
    top: 5px;
    color: #EF4D2D;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.home-product-item__sale-off-label {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: var(--text-white);
    position: relative;
    top: 8px;
}


/* footer */

.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--text-white)
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #737373;
    padding: 6px 0;
    display: flex;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 6px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 14px;
}

.footer_downlaod-app-img {
    height: 18px;
}

.footer__download-app-link {
    text-decoration: none;
    color: transparent;
}

.footer__bottom {
    margin-top: 32px;
    padding: 8px 0;
    background-color: #f5f5f5;
}

p.footer__text {
    font-size: 1.4rem;
    color: #737373;
    text-align: center;
    margin: 12px auto;
}